<div class="mx-auto w-[95vw] md:w-[80vw] border my-2 rounded-lg bg-slate-100">
    <h1 class="p-2 text-xl md:text-2xl font-bold ">Cart</h1>
</div>
<!-- <div class="flex justify-between ">
        <div class="w-[15vw] m-1 rounded-r-lg">
            
            <img
                src="https://rukminim2.flixcart.com/image/832/832/xif0q/shoe/p/u/q/-original-imagtbtfuxvu9c2y.jpeg?q=70"
                alt>
        </div>
        <div class="p-1 flex flex-col sm:flex-row ">
            <span class="text-lg font-medium">T-shirt</span>
            <span>Rs. 200</span>
            
        </div>
        <div
           class="grid grid-cols-3 justify-items-center w-[25vw] h-max my-auto lg:h-5vh rounded-lg text-xl border-solid border border-amber-500">
                <button
                    class=" w-full border-none rounded-l-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                    (click)="handleMinus()">-</button>
                <input type="number" class=" w-full text-sm justify-items-center "
                    value="0"
                    [(ngModel)]="value" />
                <button
                    class="w-full  border-none rounded-r-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                    (click)="handlePlus()">+</button>     
        </div>
    </div> -->

<div
    class="relative shadow-md sm:rounded-lg w-[95vw] md:w-[80vw] lg:w-[70vw] mx-auto">
    <table
        class="w-[100%] text-left rtl:text-right text-gray-500 dark:text-gray-400 text-[1.5vw]">
        <thead
            class="text-xs md:text-lg text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-1 sm:px-6 py-3 ">
                    Product name
                </th>
                <th scope="col" class="px-1 sm:px-6 py-3 hidden md:block">
                    Category
                </th>
                <th scope="col" class="px-1 sm:px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-1 sm:px-6 py-3">
                    <span>Quantity</span>
                </th>
                <th scope="col" class="px-1 sm:px-6 py-3">
                    <span>Subtotal</span>
                </th>
            </tr>
        </thead>
        <tbody class="text-xs md:text-base">
            <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <!-- <img class="h-10" src="https://m.media-amazon.com/images/I/71Ishj3CaoL._SX679_.jpg" alt=""> -->
                    <span>Apple MacBook Pro 17"</span>
                </th>
                <td class="px-1 sm:px-6 py-4 hidden md:inline-block">
                    Laptop
                </td>
                <td class="px-1 sm:px-6 py-4">
                    $2999
                </td>
                <td class="px-1 sm:px-6 py-4 ">
                    <div
                        class="grid grid-cols-3 justify-items-center w-12 h-8 sm:w-24 lg:h-5vh rounded-lg text-xl border-solid border border-amber-500">
                        <button
                            class=" w-full border-none rounded-l-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handleMinus()">-</button>
                        <input type="number"
                            class=" w-full text-xs sm:text-base"
                            value="0"
                            [(ngModel)]="value" />
                        <button
                            class="w-full  border-none rounded-r-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handlePlus()">+</button>
                    </div>
                </td>
                <td class="sm:px-6 py-4">
                    $2999
                </td>
            </tr>
            <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Microsoft Surface Pro
                </th>

                <td class="px-1 sm:px-6 py-4 hidden md:block">
                    Laptop PC
                </td>
                <td class="px-1 sm:px-6 py-4">
                    $1999
                </td>
                <td class="px-1 sm:px-6 py-4 ">
                    <div
                        class="grid grid-cols-3 justify-items-center w-12 h-8 sm:w-24 lg:h-5vh rounded-lg text-xl border-solid border border-amber-500">
                        <button
                            class=" w-full border-none rounded-l-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handleMinus()">-</button>
                        <input type="number"
                            class=" w-full text-xs sm:text-base"
                            value="0"
                            [(ngModel)]="value" />
                        <button
                            class="w-full  border-none rounded-r-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handlePlus()">+</button>
                    </div>
                </td>
                <td class="px-1 sm:px-6 py-4">
                    $1999
                </td>
            </tr>
            <tr
                class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Magic Mouse 2
                </th>

                <td class="px-1 sm:px-6 py-4 hidden md:block">
                    Accessories
                </td>
                <td class="px-1 sm:px-6 py-4">
                    $99
                </td>
                <td class="px-1 sm:px-6 py-4 ">
                    <div
                        class="grid grid-cols-3 justify-items-center w-12 h-8 sm:w-24 lg:h-5vh rounded-lg text-xl border-solid border border-amber-500">
                        <button
                            class=" w-full border-none rounded-l-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handleMinus()">-</button>
                        <input type="number"
                            class=" w-full text-xs sm:text-base"
                            value="0"
                            [(ngModel)]="value" />
                        <button
                            class="w-full  border-none rounded-r-lg  hover:bg-amber-500 text-amber-700 hover:text-white"
                            (click)="handlePlus()">+</button>
                    </div>
                </td>
                <td class="px-1 sm:px-6 py-4">
                    $99
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div
    class="w-[95vw] sm:w-[90vw] md:w-[80vw] lg:w-[70vw] mx-auto my-10 p-2 sm:p-5 border rounded-lg">
    <h3 class="text-lg font-extrabold">Cart total</h3>
    <hr class="my-6">
    <div class=" flex flex-col gap-4  md:w-[70%] lg:w-[60%] xl:w-[50%] sm:mx-auto">
        <div class="sm:mx-10 flex justify-between">
            <span class="font-semibold">Subtotal</span>
            <span>$4000</span>
        </div>
        <div class="sm:mx-10 flex justify-between">
            <span class="font-semibold">CGST</span>
            <span>$4</span>
        </div>
        <div class="sm:mx-10 flex justify-between">
            <span class="font-semibold">SGST</span>
            <span>$4</span>
        </div>
        <hr class="my-2">
        <div class="sm:mx-10 flex justify-between text-lg font-extrabold">
            <span>Total amount
            </span>
            <span>$4008</span>
        </div>
    </div>
    <hr class="my-6">
        <button class="w-[80%] sm:w-[50%] md:w-[40%] lg:w-[30%] xl:w-[20%] bg-green-300 text-zinc-900 p-1 rounded-md">Procced to Buy</button>
</div>