/* ********************* CSS For Quantity Selector*************** */

input {
  text-align: center;
}

input[type="number"] {
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.featureIcon{
    font-size: 2rem;
    width: 4rem;
    height: 2rem;
    text-align: center;
    color: rgb(56, 45, 25);
}
