<h2 mat-dialog-title>Become Seller</h2>
<mat-dialog-content class="p-2">
    <strong>Web-Mart</strong> is your ultimate online marketplace, where you
    have the power to
    become a seller and unlock endless opportunities. With our 'Become Seller'
    feature, you can seamlessly list your products, reach a wide audience, and
    grow your business. Whether you're a small-scale artisan or a thriving
    enterprise, Webmart empowers you to add and manage your products with ease.
    Our platform offers a range of features to streamline your selling journey,
    making it a one-stop destination for all your e-commerce needs.
    <h1 class="py-2 font-bold from-neutral-950 text-lg underline"><span class="font-extrabold text-red-700">Note : </span> Click on accept button to Become a Seller.</h1>
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex gap-5">
    <button type="button" mat-dialog-close
        class="text-red-700 hover:text-white  border border-red-400 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Cancel</button>
    <button type="button" (click)="enableSellerMode()"  mat-dialog-close
        class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Become
        Seller</button>
</mat-dialog-actions>